@model IEnumerable<Test1.ViewModel.ProductVM>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
              <a onclick="showInPopUp('@Url.Action("AddOrEdit","Product",new {id=item.Id},Context.Request.Scheme)','Update Product')">Edit</a> |
              <a asp-controller="Product" asp-action="/@item.SeoAlias-c.@item.Id" methods="get">Detail</a> |
                
                 
                @*<a onclick="return confirm('Are you sure you want to delete')" asp-controller="Customer"
                   asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                 <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);">
                                  <input type="submit" value="Delete" class ="btn btn-danger"/>
                                                
                                    </form>
            </td>
        </tr>
    }
    </tbody>
</table>