@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@{
    //cai ni tam thoi chua can de do thoi 
    var cookieValue = Context.Request.Cookies["UserLoginCookie"];
    ClaimsPrincipal principal = Context.User as ClaimsPrincipal;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Customer Management App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    @RenderSection("Styles", false)
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div id="menubar" class="container">
            <div id="loginOrlogout">
                @if (@User.Identity.IsAuthenticated == false)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="CheckLogin">Login</a>
                }
                else
                {
                    <div class="dropdown">
                        <img data-toggle="dropdown" src=@principal.FindFirst(ClaimTypes.Uri).Value style="width: 30px ;height: 30px ; border-radius: 50%">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item">@principal.FindFirst(ClaimTypes.Name).Value</p>
                            <p class="dropdown-item">@principal.FindFirst(ClaimTypes.Email).Value</p>
                            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                            @*<a class="dropdown-item"  onclick="Logout()">Logout</a>*@
                        </div>

                    </div>
                }
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="User" asp-action="CreateCloudinary" asp-route-type="signed">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
                    </li>

                    <li class="nav-item">
                        @* <a class="nav-link text-dark" asp-controller = "Customer"  asp-route="SearchForm" >Customer</a> *@
                        <a class="nav-link text-dark" asp-route="SearchForm">Customer</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@*********Modal***********@
<div class="modal" tabindex="-1" role="dialog" id="form_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - CuongIT- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @(await Component.InvokeAsync("SocialLinks", new {IconsToShow = 5}))
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Login/loginController.js"></script>

@***online js library***@
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>