@using CloudinaryDotNet
@using Test1.Extention.Enum
@inject Cloudinary cloudinary
@{
    ViewData["Title"] = "PhotoAlbum - Direct Upload page";
}

<!-- A form for direct uploading using a jQuery plug-in.
The BuildUploadForm method generates the required HTML and JavaScript to
allow uploading directly from the browser to your Cloudinary account -->
<div id="direct_upload">
    <h1>Direct upload from the browser</h1>
    <form>
        @Html.AntiForgeryToken()

        @if ( (DirectUploadType)ViewData["Type"] == DirectUploadType.Signed)
        {
            @Html.Raw(cloudinary.Api.BuildUploadForm("test-field", "auto", new SortedDictionary<string, object> { { "tags", "direct_upload"} }, new Dictionary<string, string> { { "multiple", "true" } }))
        }
        else
        {
            @Html.Raw(cloudinary.Api.BuildUnsignedUploadForm("test-field", (string)ViewData["Preset"], "image", new SortedDictionary<string, object> { { "tags","indirect" } }, new Dictionary<string, string> { { "multiple", "true" } }))
        }
    </form>

    <!-- status box -->
    <div class="status">
        <h2>Status</h2>
        <span class="status_value">Idle</span>
    </div>

    <div class="uploaded_info_holder">
    </div>
</div>



@section Scripts{
    @Html.Raw(cloudinary.GetCloudinaryJsConfig(false,@"/js/Cloudinary"))
    
    @*<script src="@Url.Content("~/js/Cloudinary/jquery.ui.widget.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.iframe-transport.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.fileupload.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.cloudinary.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/canvas-to-blob.min.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.fileupload-image.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.fileupload-process.js")"></script>
    <script src="@Url.Content("~/js/Cloudinary/jquery.fileupload-validate.js")"></script>
     <script src="@Url.Content("~/js/Cloudinary/load-image.all.min.js")"></script>*@
    
    <script>
    $(function () {
            function prettydump(obj) {
                ret = ""
                $.each(obj, function (key, value) {
                    ret += "<tr><td>" + key + "</td><td>" + value + "</td></tr>";
                });
                return ret;
            }
            $('.cloudinary-fileupload').fileupload({
                dropZone: '#direct_upload',
                start: function () {
                    $('.status_value').text('Starting direct upload...');
                },
                progress: function () {
                    $('.status_value').text('Uploading...');
                },
            })
            .bind('fileuploaddone', function (e, data) {
                $('.status_value').text('Idle');
                $.ajax({
                    type: "POST",
                    url: '@Url.Page("/UploadDirectly")',
                    data: JSON.stringify(data.result),
                    contentType: 'application/json; charset=utf-8',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()}
                });
                var info = $('<div class="uploaded_info"/>');
                $(info).append($('<div class="data"/>').append(prettydump(data.result)));
                $(info).append($('<div class="image"/>').append(
                  $.cloudinary.image(data.result.public_id, {
                      format: data.result.format,
                      width: 150,
                      height: 150,
                      crop: "fill"
                  })
                ));
                $('.uploaded_info_holder').append(info);
            })
            .bind('fileuploadfail', function (e, data) {
                $('.status_value').text('Upload error!');
            });
        });
</script>
}