@model IEnumerable<Test1.ViewModel.CustomerVM>
 @{
    ViewData["Title"] = "Customer Management";
} 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Customer Management App</title>
    <link rel="stylesheet" href="~/css/customer.css" type="text/css" />
</head>
<body>
<h1>Customer Management</h1>

<p>
    <a asp-action="Create">Add New Customer</a>
</p>

<form asp-route="SearchForm" method="get">
    <div class="searchGroup">
        <input type ="text" name="searchName" id="idSearch" >
        <select  class="form-control" name = "orderBy" id="idOrder">
            <option>Name Asc</option>
            <option>Name Desc</option>
            <option>Gender</option>
            </select>
        <div class="col-md-offset-2 col-md-10">    
            <button type="submit" value="Update" class="btn btn-primary">Search</button>    
        </div>
    </div>
</form>

        <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DTB)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.ImageUrl != null)
                {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DTB)
            </td>
            
             <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td> 
            <td>
              
                <a asp-controller="Customer"
                   asp-action="Edit" asp-route-id="@item.Id" >Edit</a> |
                
                <a asp-controller="Customer" asp-action="/@item.SeoAlias-c.@item.Id" methods="get">Detail</a> |
                
                 @*
                 <a onclick="return confirm('Are you sure you want to delete')" asp-controller="Customer"
                                asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            *@
                 <a onclick="return confirm('Are you sure you want to delete')" asp-controller="Customer"
                                asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/js/IndexCustomer.js"></script>
</body>
</html>